{% extends "base.html.twig" %}
{% block content %}
<table>
	<tbody>
	{% for note in notes %}
	<tr>
		<td>{{ note.note }}</td>
		<td>{{ note.commentaire }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}